body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #8F9779;
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-align: center;
}

#spacing {
    padding-top: 300px;
}

h1 {
    margin: 40px;
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    -webkit-text-stroke: 0px rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#title {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #8F9779;
}

#monthBox, #photoMonth {
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    color: white;
}

.NFTs {
    width: 80%;
    margin: 0px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}

.NFTs img {
    width: 100%;
    cursor: pointer;
    border: solid #4D5D53 4px;
    border-radius: 14px;
}

.NFTs img:hover {
    transform: scale(0.95);
    box-shadow: 0 32px 75px rgba(68,77,136,0.2);
    transition: 1s;
}

.full-NFTs {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    gap: 50px;
}

.full-NFTs img {
    width: 100%;
    max-width: 750px; /*Here to change clicked image size*/
}

.metadata {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #043927;
    color: #ACE1AF;
}

.full-NFTs span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    cursor: pointer;
}

.full-NFTs span:hover, a:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.2);
    /*color: rgba(255, 255, 255, 0.77);*/
    color: #ACE1AF;
}

.full-NFTs .previous, .full-NFTs .next {
    position: absolute;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.14);
    cursor: pointer;
}

.full-NFTs .previous {
    top: 50%;
    left: 5%;
    right: auto;
}

.full-NFTs .next {
    top: 50%;
    right: 5%;
}
